---
import { getCollection } from "astro:content";
import Header from "../../components/Header.astro";
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";

const members = await getCollection("members");
const images = import.meta.glob<{ default: ImageMetadata }>(
    `/src/assets/members/*.{jpg,png}`,
  );

// member images: dict of member name to image
const memberImages = Object.fromEntries(
  members.map((member) => {
    const name = member.data.name;
    const imagePath = Object.keys(images).find((path) =>
      path.includes(name.toLowerCase())
    ) || "/src/assets/members/default.jpg";
    return [name, images[imagePath]];
  }),
);
---

<Layout title="Members">
  <Header />
  <main class="flex flex-col items-center justify-center p-4">
    <h1 class="text-4xl font-bold">Members</h1>
    <!-- <div class="text-lg">{members.length} members (and counting!)</div> -->
    <div class="text-lg">{members.length} members (and counting!)</div>
    <div class="flex flex-wrap justify-center p-4 w-full">
      {
        members.map((member) => (
          <Card
            title={member.data.name}
            subtitle={member.data.splash_text}
            href={`/members/${member.data.name.toLowerCase()}`}
            background={memberImages[member.data.name]}
          />
        ))
      }
    </div>
  </main>
</Layout>
